<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="bg-light">

<div th:replace="~{layout :: navbar}"></div>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{layout :: sidebar('citas')}"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="pt-3 pb-2 mb-3 border-bottom">
                <h2 class="fw-bold">GESTIÓN DE CITAS</h2>
            </div>

            <div class="card p-4 shadow-sm border-0">
                <p class="text-muted">Módulo en construcción...</p>
            </div>

        </main>
    </div>
</div>

<div th:replace="~{layout :: scripts}"></div>
</body>
</html>